<%= form_with(model: @contact) do |form| %>

<div class="field, form-control">

        <%= form.label :name %>
        <br/>
        <%= form.text_field  :name, required: true, class: "contact-form-text-area", placeholder: 'Please enter your Name' %>
        <br/>
        <br/>

        <%= form.label :email %>
        <br/>
        <%= form.email_field :email, required: true, class: "contact-form-text-area", placeholder: 'Please enter your email' %>
        <br/>
        <br/>

        <%= form.label :message %>
        <br/>
        <%= form.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area", placeholder: "Please type your message here"%>
        <br/>
        <br/>

        <div class= "hidden">
          <%= form.label :nickname %>
          <%= form.text_field :nickname %>
        </div>

        <div class="actions">
          <%= form.submit 'Send Message', class: 'btn btn-primary' %>
        </div>
      
    </div>
<% end %>

<div class="col-md-6" id="flash-message">
    <%= render 'flash' %>
</div>